.error
{
	font-family:calibri;
	color:red;
	font-size:12;
	font-weight:normal;
}
.wrapper{
	background-color:#FFFFFF;
	width: 1150px;
	border: 1px solid #cccccc;
	height: 1000px;
	margin: 0px auto;
}
.header 
{ 
	
	height: 150px;
	width: 1150px;
	background: #00ff00;
	color: red;
	font-family: Verdana, Arial, Helvetica;
}
.logo
{
	float:left;
	height:150px;
	width: 150px;
	background-color: black;
	font-family:calibri;
}
.banner
{
	width: 920px;
	float: right;
	height: 150px;
	background-color:#FFFFFF;
}
.bannerup
{
	width: 820px;
	float: left;
	height: 120px;
	background-color:#FFFFFF;	
}
.bannerdown
{
	width: 820px;
	float:left;
	height: 30px;
}
a.link_td
 {
background-color:#C0C0C0;
color:  #222222;
width: 100%;
}
a.link_td:hover 
{
background-color: E65412;
color: #000000;
}
#menu1{
	width: 820px;
	height: 20px;
	margin: 0 auto;
	padding: 0px;
	
}

#menu1 ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: right;
}

#menu1 li {
	display: inline-block;
	padding: 0px 0px 0px 0px;
}
#menu1 a
 {
	display: block;
	height: 13px;
	width:100px;
	padding: 5px 5px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	color: #222222;
	border-radius: 5px;
	background: #EEEDED;
	box-shadow: inset 0px 0px 0px 1px #000000;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}


.leftcontent
{	
	
	float: left; 
	height: 790px;
	width:250px;
	background: #FFFFFF;
	color: #330033;
}
.rightcontent
{
	float: right; 
	height: 790px;
	width: 900px;
	background: #FFFFFF;
	color: #035A85;
	font-family: calibri;		
}
.content
{
	float: right; 
	height: 350px;
	width: 1000px;
	background: #FFFFFF;
	color: #035A85;
	font-family: Verdana, Arial, Helvetica;		
}
#box1 
{
	margin-bottom: 5px;
	padding: 5px;
	background: #FFFFFF;
	border-radius: 20px 20px 20px 20px;
	color: #707070;
	box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
}
.footer
{
	float:left;
	height:60px;
	width:1000px;
	background-color:#FFFFFF;
	color: #000000;
	text-align:center;
}
#button1
{
	width: 150px;
	height: 25px;
	font-family: Calibri;
	color: white;
	text-align:center;
	text-transform:uppercase;
	background-image: url(../IMAGES/button1.jpg);
	float: left;
	
}
#button2
{
	width: 150px;
	height: 30px;
	font-family: Calibri;
	color: white;
	text-align: center;
	text-transform:uppercase;
	background-image: url(../IMAGES/button2.jpg);
	float: left;
}
.menubutton
{
	width:70;
	height:30;
	font-family:calibri;
	color: #000000;
	text-align: center;
	text-transform:uppercase;
	background-image: url(../IMAGES/menubutton.jpg);
	float: right;
	
}
#navContainer {
margin-bottom: 5px;
border-radius: 5px 5px 5px 5px;
box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
margin:0;
padding:0px;
background:url(../IMAGES/button2.jpg) repeat-x;
text-align:center;
width:150px;
}
  
#navContainer ul{
margin:0;
padding:0;
list-style:none;
}
 

#navContainer ul li {
position:relative;
}
 
#navContainer ul li span{
display:block;
}
 
#navContainer ul li a{
text-decoration:none;
color:white;
font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
display:block;
padding:5px;
background:url(../IMAGES/button2.jpg) top right no-repeat;
}
 
#navContainer ul li span:hover {
background:url(../IMAGES/button2.jpg) top left no-repeat;
}
 
#navContainer ul ul{
position:absolute;
display:none;
}
 
#navContainer ul ul li a{
background:#918181;
}
 
#navContainer ul li:hover ul{
width:80%;
position:absolute;
display:block; 
left:150px;
top:0;
}
